.side-bar-container {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100vh;
  width: 300px;
  background-color: #0094cb;

  transition: width 0.5s ease-in-out;
  font-style: sans-serif;
}
.side-bar-container.navigation-in {
  width: 70px;

  button:hover span:nth-child(1) {
    transform: translate(-3px,-5px) rotate(30deg);
    margin: 0;
  }
  button:hover span:nth-child(2) {
    display: none;
  }
  button:hover span:nth-child(3) {
    transform: translate(-3px,5px) rotate(-30deg);
    margin: 0;
  }

  .side-bar-brand {
    transition: 0.4s ease-in-out;
    display: none;
  }
}

.side-bar-container.navigation-out {
  button:hover span:nth-child(1) {
    transform: translate(-3px,-5px) rotate(-30deg);
    margin: 0;
  }
  button:hover span:nth-child(2) {
    display: none;
  }
  button:hover span:nth-child(3) {
    transform: translate(-3px,5px) rotate(30deg);
    margin: 0;
  }
}
@media (min-width: 700px) and (max-width: 940px) {
  .side-bar-container.navigation-in {
    width: 40px;

    .side-bar-brand {
      transition: 0.4s ease-in-out;
      display: none;
    }
    .nav-button {
      width: 50px;
      height: 53px;
      /*margin: auto -25px;*/
      transform: translate(30px,-54px);

    }
    .listContent li i {
      transition: 0.5s ease-in-out;
      margin-right: 1em;
      margin-left: 1px;
      font-size: 1.5em;
    }


  }


}

@media only screen and (max-width: 700px) {
    .side-bar-container.navigation-in {
      width: 0;
      .side-bar-links {
        display: none;
      }
      .nav-button {
          transform: translate(47px,-54px);
      }
    }


}

/*.side-bar-links {

  transition: 0.5 ease-in-out;
}
.side-bar-links.collapsed {
  opacity: 0;
}*/
/*.sideBarContent {
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.1);

  height: 100vh;
  width: 14rem;
  justify-content: flex-start;
  background-color: rgb(247,247,247);
  font-weight: bold;
}*/
side-bar-bran
h4 {
  font-weight: bold;
  color: white;
}

.listContent {
  list-style: none;
  padding: 0;
  margin-top: 5em;
}
.listContent li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}
.listContent li i {
  margin-right: 1.8em;
  margin-left: 7px;
  font-size: 1.8em;
}
.sideBarBody {
  margin: auto;
}
.side-bar-brand {
  padding: 5px;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.side-bar-brand img {
  width: 45px;
  height: 45px;
}

.nav-button {
  position: absolute;
  right: 0;
  background: none;
  cursor: pointer;
  /*margin: auto -35px*/
  transform: translate(30px,-52px);
  background-color: #ababab;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10px; /*71px*/
  width: 13px;  /*74px*/
  padding: 20px;
  border-radius: 90px;
  transition: 0.4s;
}
button span {
  display: block;
  margin-top: 5px;
  background-color: white;
  min-height: 3px;
  min-width: 18px;
  border-radius: 15px;
  transform: translateY(-3px);
  transition: 0.5s;
}

img {
  border-radius: 100px 100px 50px 50px;
}
Link.active {
  font-weight: bold;
}

/*.nav-button.collapse span:nth-child(1) {
  transform: translate(0,-11px) rotate(-45deg);
}
.nav-button.collapse span:nth-child(3) {
  transform: translate(0, 11px) rotate(45deg);
}*/


.link-icon {
  display: flex;
  align-items: center;
}

.side-bar-links {
  margin: auto 5px;
  transition: 0.4s ease-in-out;
}
.activeLink {
  background-color: #007bff;
  border-radius: 15px;
  padding: 3px 10px 3px 2px;
  width: 250px;
  transition: background-color 0.4s ease-in-out;
}
.activeLink {
  background-color: #35394b;
  border-radius: 15px;
  padding: 3px 10px 3px 2px;
  width: 0px;
  transition: width 0.2s ease-in-out;

  /* Animation for loading effect */
  animation: loading-color 0.2s ease-in-out forwards;
}

@keyframes loading-color {
  0% {
    /*background-position: 0 0;
    background-image: linear-gradient(to right, transparent 0%, green 100%);*/
    width: 0%;
  }
  25% {
    /*background-position: 200% 0;*/
    width: 25%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  55% {
    width: 55%;
  }
  60 % {
    width: 60%;
  }
  65% {
    width: 65%;
  }
  75% {
    width: 75%;
  }
  80% {
    width: 80%;
  }
  85% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

.logout-link {
  margin-top: 40px;
}
.bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  background-color: #35394b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}
.bar-content-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5em;
  position: relative;
  left: 10%;
}
.bar-content-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
  position: relative;
  right: 4%;
}
.email-icon, .arrow-icon, .search-icon, .message-icon {
  color: white;
}
@media (min-width: 490px) and (max-width: 1194px) {
  .bar-content-left {
    position: relative;
    left: 15%;
  }
}

@media only screen and (max-width: 490px) {
    .bar-content-left {
      position: relative;
      left: 18%;
    }
}
